body,html{
    height: 100%;
    overflow: hidden;
}

.frsp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }